html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #FDA214;
  --gray-light: #BCCED9;
  --gray-dark: #304859;
  --gray-2x-dark: #152938;
  --text-gray: #7191A5;
  --subtle-gray: #DFE7EC;
}


.btn {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  white-space: nowrap;
  background: var(--subtle-gray);
  color: var(--gray-dark);
  font-weight: 600;
  font-size: 15px;
  border-radius: 99px;
  text-transform: capitalize;
}

.btn:disabled {
  cursor: auto;
}

.btn-orange {
  background: var(--orange);
  color: white;
}